<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Magic Polls</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="navbar-brand">Magic Polls</div>
        <div class="d-flex justify-content-end">
            <a class="nav-link" href="/logOut">Log Out</a>
        </div>
    </nav>    
    <div class="container mt-4">
      <h2>Generate New Poll</h2>
      <div class="card text-white bg-dark mb-3" style="max-width: 100%;">
          <div class="card-header">New Poll</div>
          <div class="card-body">
              <form  action="/polls/new" method="post">
                  <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="name of Pull">
                  </div>    
                  <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                  </div>
                  <div class="form-group">
                      <label>Option 1</label>
                      <input type="text" class="form-control" id="Option1" name="Option1" placeholder="Option 1">
                  </div>    
                  <div class="form-group">
                      <label>Option 2</label>
                      <input type="text" class="form-control" id="Option2" name="Option2" placeholder="Option 2">
                  </div>
                  <div class="form-group">
                      <label>Option 3</label>
                      <input type="text" class="form-control" id="Option3" name="Option3" placeholder="Option 3">
                  </div>   
                  <div class="form-group">
                      <label>Option 4</label>
                      <input type="text" class="form-control" id="Option4" name="Option4" placeholder="Option 4">
                  </div>
                  <div class="d-flex justify-content-between">
                      <a class="link text-white" href="/polls">Cancel</a>
                      <button class="btn btn-light my-2 my-sm-0" type="submit">Create</button>
                  </div>       
              </form>
          </div>
        </div>
    </div>
    <script src="static/app.js"></script>
  </body>
</html>